* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 4px 9px;
    cursor: pointer;
}

body {
    min-height: 100vh;
}

main {
    margin: 100px auto;
    max-width: 60%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#todo-form {
    display: flex;
    gap: 7px;
}

#todo-form input {
    padding: 4px 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #666;
    flex-grow: 1;
}

#add-button {
    background-color: black;
    color: white;
}

.todo-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
    border-bottom: 1px solid #666;
}

.todo-list input[type="checkbox"]:checked + input {
    text-decoration: line-through;
}

.todo-list .todo-name:disabled{
    background: transparent;
    color: black;
    border: none;
}

.edit-button {
    margin-left: auto;
}

.delete-button {
    background-color: rgb(183, 0, 0);
    color: white;
}

.todo-list-completed.hide-items > li {
    display: none;
}

.todo-list-completed .reorder-button {
    display: none;
}

#notification-popup {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 8px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: none;
}