* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 4px 9px;
    cursor: pointer;
}

body {
    min-height: 100vh;
}

main {
    margin: 100px auto;
    max-width: 80%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#todo-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#todo-form :is(input,textarea) {
    padding: 4px 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #666;
}

#todo-form textarea {
    resize: none;
    min-height: 100px;
}

#add-button, #submit-button {
    background-color: black;
    color: white;
    width: fit-content;  
}

#add-button[data-active="true"] {
    display: none;
}

#add-button[data-active="false"]  + #todo-form {
    display: none;
}

.todo-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
    border-bottom: 1px solid #666;
}

.todo-list input[type="checkbox"]:checked + .todo-text-container {
    text-decoration: line-through;
}

.todo-list input[type="checkbox"]:checked + .todo-text-container > input {
    text-decoration: line-through;
}

.todo-list .todo-name {
    width: 100%;
}

.todo-list .todo-name:not(:disabled) {
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid black;
}

.todo-list .todo-name:disabled{
    background: transparent;
    color: black;
    border: none;
}

.todo-list .todo-description {
    font-size: 0.6em;
    width: 100%;
    overflow-wrap: anywhere;
}

.reorder-button:first-of-type {
    margin-left: auto;
}

.todo-list textarea.todo-description {
    border-radius: 10px;
    border: 1px solid black;
    padding: 4px 8px;
    width: 100%;
    resize: none;
}

.edit-button {
    /* margin-left: auto; */
}

.delete-button {
    background-color: rgb(183, 0, 0);
    color: white;
}

.todo-list-completed.hide-items > li {
    display: none;
}

.todo-list-completed .reorder-button {
    display: none;
}

.todo-list-completed .edit-button {
    margin-left: auto;
}

#notification-popup {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 8px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: none;
}