@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    overscroll-behavior: contain;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

ul {
    list-style-type: none;
}

h1 {
    font-weight: 400;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 4px 9px;
    cursor: pointer;
}

.hide {
    display: none;
}

#todo-new, #todo-form__submit {
    background-color: black;
    color: white;
    width: fit-content;  
}

#todo-app {
    user-select: none;
    margin: 0 auto;
    max-width: 700px;
    padding: 40px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#todo-buttons {
    display: flex;
    gap: 5px;
}

#todo-sort {
    position: relative;
}

#todo-sort__toggle {
    border: 1px solid black;
}

#todo-sort__toggle i {
    margin-right: 3px;
}

#todo-sort__toggle[data-active="false"] + #todo-sort__options{
    display: none;
}

#todo-sort__toggle[data-active="true"] + #todo-sort__options{
    display: block;
}

#todo-sort__options {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #eee;
    position: absolute;
    left: 20px;
    min-width: max-content;
}

#todo-sort__options > li {
    padding: 8px 12px;
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}

#todo-sort__options > li:hover {
    background-color: #ccc;
}

.todo-item {
    padding: 7px 0;
}

.todo-item__inner-container{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #eee;
}

.todo-item__checkbox-placeholder {
    display: inline-block;
    color: white;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 10px;
}

.todo-item__checkbox-placeholder[data-completed="false"] i{
    opacity: 0;
}

.todo-item__checkbox-placeholder[data-completed="true"] {
    background-color: black;
}

.todo-item__checkbox {
    display: none;
}

.todo-item__data-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label:has(.todo-item__checkbox:checked) + .todo-item__data-container > * {
    text-decoration: line-through;
}


input.todo-item__title {
    padding: 4px 0;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.todo-item__description {
    font-size: 0.6em;
    width: 100%;
    overflow-wrap: anywhere;
}

textarea.todo-item__description {
    border-radius: 10px;
    border: 1px solid black;
    padding: 4px 8px;
    width: 100%;
    resize: none;
}

.todo-item__due-date {
    font-size: 0.7rem;
    color: #444;
}

.todo-item__due-date i {
    margin-right: 3px;
}

.todo-item__actions-container {
    margin-left: auto;
    position: relative;
}

.todo-item__confirm, .todo-item__cancel {
    display: none;
}

.todo-item__confirm--active, .todo-item__cancel--active {
    display: inline-block;
}

.todo-item__cancel--active + .todo-item__actions-toggle {
    display: none;
}

.todo-item__actions {
    position: absolute;
    right: 10px;
    width: max-content;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #eee;
}

.todo-item__actions-toggle + .todo-item__actions {
    display: none;
}

.todo-item__actions-toggle--active + .todo-item__actions {
    display: block;
}

.todo-item__actions > li {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
    cursor: pointer;
}

.todo-item__actions >li:hover {
    background-color: #eee;
}

.todo-item__actions > li > i {
    margin-right: 5px;
}

.todo-item:first-child .todo-item__up {
    display: none;
}

.todo-item:last-child .todo-item__down {
    display: none;
}

.todo-item__up {
    margin-left: auto;
}

.todo-item:first-child:last-child .todo-item__edit {
    margin-left: auto;
}

.todo-item__delete {
    color: rgb(181, 0, 0);
}

#todo-list-completed[data-hide="true"] > .todo-item{
    display: none;
}

#todo-list-completed :is(.todo-item__up, .todo-item__down) {
    display: none;
}

#todo-list-completed .todo-item__edit {
    margin-left: auto;
}

#notification {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 8px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: none;
}

#dnd-container .todo-item {
    position: absolute;
    width: 400px;
}

@media screen and (max-width: 600px) {
    #dnd-container .todo-item {
        width: 300px;
    }
}